@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

$color-primary:   #0090f1;
$color-secondary: #29bb23;

$color-clear: #fff;
$color-dark:  #111;

//
// Base
//
p, button, input {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

body {
  margin:  0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

.container {
  position: relative;
}

.padded {
  padding: 1rem 0.8rem;
}

button {
  padding: 0.5rem 1rem;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
}

button.primary {
  @extend .text.clear;
  background: $color-primary;

  &:hover {
    background: darken($color-primary, 10%)
  }

  &:active {
    background: lighten($color-primary, 10%)
  }
}

button.secondary {
  @extend .text.clear;
  background: $color-secondary;

  &:hover {
    background: darken($color-secondary, 10%)
  }

  &:active {
    background: lighten($color-secondary, 10%)
  }
}

button.big {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.text.clear {
  color: $color-clear;
}

.text.dark {
  color: $color-dark;
}
